html{
    width: 100%;
    min-width: 100%;
    margin: 0px;
}
body{
    max-width: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 1500px;
    height: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#global-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.global-container-overview{
    background-image: -webkit-gradient(linear, left bottom, right top, from(#051937), color-stop(#004d7a), color-stop(#008793), color-stop(#00bf72), to(#a8eb12));
    background-image: -webkit-linear-gradient(left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-image: -o-linear-gradient(left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.global-container-statistics{
    background: #7F00FF; 
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: -webkit-gradient(linear, left top, right top, from(#E100FF), to(#7F00FF)); 
    background: -webkit-linear-gradient(left, #E100FF, #7F00FF); 
    background: -o-linear-gradient(left, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF); 
}

.global-container-about{
    background: #ee0979; 
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); 
    background: -webkit-gradient(linear, left top, right top, from(#ff6a00), to(#ee0979)); 
    background: -webkit-linear-gradient(left, #ff6a00, #ee0979); 
    background: -o-linear-gradient(left, #ff6a00, #ee0979); 
    background: linear-gradient(to right, #ff6a00, #ee0979); 

}

#persistent-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 80px;
    z-index: 60;
    position: fixed;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.persistent-header-inactive{
    color: white;
    background: transparent;
}

.persistent-header-active{
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.21),
            0 5px 15px 0 rgba(0,0,0,0.18);
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.21),
            0 5px 15px 0 rgba(0,0,0,0.18);
    background: white;
    color: black;
}

#persistent-header-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20%;
    height: 100%;
}

#persistent-header-title-logo{
    font-size: 30px;
}

#persistent-header-title-text{
    margin-left: 20px;
}

#persistent-header-options{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 100%;
    font-weight: bold;
}

.header-option-bar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.header-option-highlight{
    border-radius: 30px;
    height: 4px;
    width: 0%;
    margin-top: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.header-option-highlight-inactive{
    background: white
}

.header-option-highlight-active{
    background: black;
}

.header-option-highlight-selected{
    max-width: 150px;
    width: 80%;
}

.header-option-bar:hover .header-option-highlight {
    max-width: 150px;
    width: 80%;
}   

#page-content{
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* ========Loader animation ======*/
.loader {
    border: 16px solid #f3f3f35d; /* Light grey */
    border-top: 16px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }

/*=========Overview CSS - prefixed with ov ================= */

#ov-main-banner{
    width: 100%;
    height: 70vh;
    background-image: url(../img/wheat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.31),
    0 5px 15px 0 rgba(0,0,0,0.28);
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.31),
    0 5px 15px 0 rgba(0,0,0,0.28);
}

#title-container{
    width: 60%;
    max-width: 700px;
    height: 200px;
    border-radius: 10px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#title-text{
    font-size: 45px;
    font-weight: bold;
}

#title-subtext{
    font-size: 24px;
}

#endpoint-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
    height: 30px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    font-weight: lighter;
}

#endpoint-button:hover{
    background: white;
    color: black;
    text-decoration: none;
}

#endpoint-button:visited{
    text-decoration: none;
    color: white;
}

#endpoint-button:visited:hover{
    text-decoration: none;
    color: black;
}

#endpoint-button:active{
    text-decoration: none;
    color: white;
}

#ov-overall-sentiment-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#ov-overall-sentiment-icon{
    font-size: 120px;
    margin: 20px;
}

#ov-sentiment-text-container{
    font-size: 22px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
}

#ov-sentiment-value{
    margin: 5px;
}

#ov-latest-tweets-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 120px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
}

#ov-latest-tweets-title-text{
    width: auto;
    font-size: 30px;
    font-weight: bold;
    padding:10px;
}

#ov-latest-tweets-notification{
    padding: 15px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid white;
    font-weight: bold; 
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: none;
}

#ov-latest-tweets-notification:hover{
    background: white;
    color: black;
}

#ov-tweets-container{
    width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ov-tweet-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100px;
    width: 50%;
    border-radius: 10px;
    background: white;
    color: black;
    margin: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
            0 2px 4px 0 rgba(0,0,0,0.28);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
            0 2px 4px 0 rgba(0,0,0,0.28);
}

.ov-tweet-element-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    padding-top: 15px;
    border-bottom: 1px solid #EAEAEA;
    color: #A0A0A0;
    font-weight: lighter;
}

.ov-tweet-element-username{
}

.ov-tweet-element-sentiment-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ov-tweet-element-sentiment{
    font-size: 36px;
    padding-left: 10px;
}

.ov-tweet-element-content{
    width: 90%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ov-tweet-element-date-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    padding-top: 15px;
    border-top: 1px solid #EAEAEA;
    color: #A0A0A0;
    font-weight: lighter;
}

.ov-tweet-element-date{
    padding-left: 5px;
}

#loading-animation-container{
    display: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*=========Statistics CSS - prefixed with st ==========*/

#st-main-banner{
    width: 100%;
    height: 60vh;
    background-image: url(../img/abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.31),
    0 5px 15px 0 rgba(0,0,0,0.28);
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.31),
    0 5px 15px 0 rgba(0,0,0,0.28);
}

#ot-overall-sentiment-icon{
    font-size: 120px;
    margin: 20px;
}

#st-tweets-statistics-container{
    width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.data-board{
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
            0 2px 4px 0 rgba(0,0,0,0.28);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
            0 2px 4px 0 rgba(0,0,0,0.28);
    color: black;
    padding: 20px;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#total-tweets-title{
    font-size: 20px;
    font-weight: bold;
}

#total-tweets-numbers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#total-tweets-numbers-value{
    font-weight: bold;
    margin: 10px;
}

#total-tweets-container{
    min-height: 200px;
    margin-top: 20px;
}

#tweets-distribution-container{
    min-height: 400px;
}

#tweets-distribution-title{
    font-weight: bold;
    font-size: 20px;
}

#tweets-distribution{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#tweets-distribution-text{

}

.tweets-distribution-element{
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    width: 80%;
    margin: 10px;
}

.tweets-distribution-percentage{
    font-weight: bold;
    font-size: 20px;
}

.tweets-distribution-icon{
    size: 56px;
}


/*========About CSS - prefixed with ab ===========*/

#ab-main-banner{
    width: 100%;
    height: 60vh;
    background-image: url(../img/buildings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.31),
    0 5px 15px 0 rgba(0,0,0,0.28);
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.31),
    0 5px 15px 0 rgba(0,0,0,0.28);
}

#ab-text-container{
    width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 700px;
    padding: 40px;
}

#about-text{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 80%;
}

/*==========Media Query ==========*/
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    #persistent-header{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        min-height: 140px;
        z-index: 60;
        position: fixed;
        -webkit-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }

    #persistent-header-title-logo{
        font-size: 40px;
    }

    .ov-tweet-element{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 100px;
        width: 80%;
        border-radius: 10px;
        background: white;
        color: black;
        margin: 10px;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
                0 2px 4px 0 rgba(0,0,0,0.28);
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
                0 2px 4px 0 rgba(0,0,0,0.28);
    }
    
  }