<div id="ab-main-banner"> 
        <div id="title-container">
            <span id="title-text">
                About
            </span>

            <div id="ov-overall-sentiment-container">
                
                <i class="material-icons" id="ov-overall-sentiment-icon">sentiment_satisfied</i>


            </div>

        </div>
    </div>

    <div id="ov-latest-tweets-title">
        <span id="ov-latest-tweets-title-text">Summary</span>
    </div>

    <div id="ab-text-container">

        <span id="about-text">

            This is a small web application that pulls tweets about Brexit from the Twitter API and performs a simple sentiment analysis on them.
        Tweets are pulled server side every 2 minutes. Latest tweets can be loaded by clicking the "New Tweets Available" on the Overview Page.
        The overview page provides, a list of the latest tweets and their sentiment rating. The Statistics page provides Overall sentiment rating data for all the Tweets,
        as well as the percentage distribution of the sentiment rating. 

        Due to time constraints, a lot of features could not be implemented. Such as a deeper Sentiment analysis system that also looks at the context of the tweets, for example.
        </span>
        
    </div>